{% extends 'base.html' %}

{% block header %}
    <div class="nav-wrapper"><a class="page-title">Registro Clientes</a></div>
{% endblock %}

{% block content %}
<div class="row section smallform">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
            {{ form.name }}
            <label for="{{ form.name.id_for_label }}" data-error="El campo no puede estar vacio">Nombre</label>  
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
            {{ form.nit }}
            <label for="{{ form.nit.id_for_label }}" data-error="El campo no puede estar vacio">Nit</label>
        </div>
      </div>
      <div class="row">
          <div class="input-field col s12">
            {{ form.city }}
            <label for="{{ form.city.id_for_label }}">Ciudad</label>
          </div>        
      </div>
      <div class="row">
        <button type="submit" class="save btn btn-default">Registrar</button>
    <div>
    </form>
  </div>
{% endblock %}