{% extends 'base.html' %}
{% load static %}

{% block header %}
    <div class="nav-wrapper"><a class="page-title">Acerca de Nosostros</a></div>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="section">
                <h2 class="header">Cotización Simplificada</h2>
                <p class="caption">CotiApp es un Software de cotización online que logra hacer más facil que tus clientes te compren.</p>
            </div>            
        </div>
    </div>      
{% endblock %}

</body>