{% extends 'base.html' %}
{% load static %}

{% block content %}

<h2 class="center-align red-text text-accent-2">MENU PRINCIPAL</h2>
<div class="row">
    <div class="col s3">
        <div class="card red lighten-2">
            <div class="card-action card-title red lighten-1 white-text">Operaciones</div>
            <div class="card-content white-text">
                <a href="{% url 'invoice' %}">
                    <p>En este modulo se registran todas las cotizaciones. Además se gestiona la creación de clientes, vendedores y productos.</p>
                </a>                
            </div>
        </div>

    </div>
    <div class="col s3">
        <div class="card red lighten-2">
            <div class="card-action card-title red lighten-1 white-text">Administración</div>
            <div class="card-content white-text">
                <p></p>
            </div>
        </div>
        <a href="">
            <span></span>
        </a>
    </div>
    <div class="col s3">
        <div class="card red lighten-2">
            <div class="card-action card-title red lighten-1 white-text">Reportes</div>
            <div class="card-content white-text">
                <p></p>
            </div>
        </div>
        <a href="">
            <span></span>
        </a>
    </div>
    <div class="col s3">
        <div class="card red lighten-2">
            <div class="card-action card-title red lighten-1 white-text">Configuración</div>
            <div class="card-content white-text">
                <p></p>
            </div>
        </div>
        <a href="">
            <span></span>
        </a>
    </div>            
                     
</div>
            
{% endblock %}

</body>