{% extends 'base.html' %}

{% block header %}
    <div class="nav-wrapper"><a class="page-title">Operaciones</a></div>
{% endblock %}

{% block content %}
<div class="section" id="invoice-form">
  <div class="row">
        <form class="col s12">

          <!--BASIC DATA -->
          <div class="section">
            <!--Vendor and date -->
            <div class="row">
              <div class="input-field col s4">
                <input id="vendor" type="text">
                <label for="vendor">Vendedor</label>
              </div>
              <div class="input-field col s4 offset-s3">
                <input id="invoice-number" type="text">
                <label for="invoice-number">Número Factura</label>              
              </div>
            </div>

            <div class="row">

              <div class="input-field col s4">
                <input id="city" type="text">
                <label for="city">Ciudad</label>
              </div>
              <div class="input-field col s4 offset-s3">
                <input id="date" type="date" class="datepicker">
                <label for="date">Fecha</label>
              </div>                

            </div>

            <!-- Client -->
            <div class="row">
              <div class="input-field col s4" >
                <input id="client" type="text" class="validate" required>
                <label for="client" data-error="wrong">Cliente</label>
              </div>
              <div class="input-field col s4 offset-s3">
                <input id="due_date" type="date" class="datepicker">
                <label for="due_date">Fecha Vencimiento</label>
              </div>
            </div>
          </div>

          <!-- ITEMS -->
            <div class="row">  
              <div class="col s11" id="form-header">                
                <div class="col s5">Descripción del producto</div>
                <div class="col s2">Cantidad</div>
                <div class="col s2">Precio</div>
                <div class="col s3">Subtotal</div>
              </div>
            </div>


          <!-- DATA INPUT -->
            <div class="row" id="data">
              <div class="col s12" id="item-data">
                <div class="item-row">
                  <div class="col s11">
                      <div class="input-field col s5">
                        <input type="text" placeholder="Descripcion" id="descr1">
                        <!-- <input id="id_form-0-product" maxlength="100" name="form-0-product" placeholder="Descripcion" type="text"> -->
                      </div>
                      <div class="input-field col s2">
                        <input class="quantity" type="text" placeholder="Cantidad" id="qt1" value="0">
                      </div>
                      <div class="input-field col s2">
                        <input class="rate" type="text" placeholder="Precio" id="rate1" value="1">
                      </div>
                      <div class="amount-field col s3">
                        <div class="amount" id="amt1">$0</div>
                      </div>
                  </div>
                  <div class="amount-field col s1 destroy">
                    <a class="btn-floating waves-effect waves-light red" id="remove1"><i class="material-icons">delete</i></a>
                  </div>
                </div>
              </div>

              <!-- TOTALS  -->
              <div class="col s11" id="totals">

                <div class="col s4 offset-s8">
                  <div class="col s4">Subtotal</div>
                  <div class="col s8" id="subtotal">$ 0</div>
                </div>

                <div class="col s4 offset-s8">
                  <div class="input-field col s12">
                    <input class="taxes" id="tax" type="text">
                    <label for="tax">Impuesto</label>
                  </div>
                </div>

                <div class="col s4 offset-s8">
                  <div class="col s4"><h5>Total</h5></div>
                  <div class="col s8"><h5 id="total">$0</h5></div>
                </div>
              </div>  <!--totals -->

            </div> <!-- data -->
          
          <!-- Button -->
          <div class="center-align">
            <a class="btn-floating btn-large waves-effect waves-light red" id="add"><i class="material-icons">add</i></a>
          </div>


          <!-- NOTES AND TERMS -->
          <div class="section">
            <div class="row">
                <div class="row">
                  <div class="input-field col s11">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Notes</label>
                  </div>
                </div>
            </div>
            <div class="row">
                <div class="row">
                  <div class="input-field col s11">
                    <textarea id="textarea1" class="materialize-textarea"></textarea>
                    <label for="textarea1">Terms</label>
                  </div>
                </div>
            </div>
          </div>

        </form>
  </div> <!--main-row-->
</div> <!--section-->
{% endblock %}

</body>
